@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
:root {
  --branco: #f6f5f5;
  --azul-background: #141c2e;
  --azul-blocos: #1f293f;
  --azul-footer: #0e1424;
}
/*desktop version*/
header {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin: 20px 0;
}
.header-titulo {
  padding-right: 42%;
  transition: 0.9s;
}
body.light .header-titulo {
  color: #25335c;
  transition: 0.9s;
}
.tema-claro-escuro {
  margin-right: 20px;
  transition: all 0.2s;
  transform-origin: center;
}
.tema-claro-escuro:hover {
  transition: all 0.5s;
  transform: rotate(50deg);
}
body {
  background-color: var(--azul-background);
  color: #f6f5f5;
  font-family: "Inconsolata";
  transition: 0.9s;
}
body.light {
  background: #b7b4da;
  transition: 0.9s;
}
.bloco-com-criptografia-descriptografia {
  display: flex;
  justify-content: space-between;
  margin: 0 8%;
}
.mensagem-input {
  height: 460px;
  width: 660px;
  color: var(--branco);
  padding: 20px;
  font-size: 16px;
  border-radius: 30px;
  border-color: var(--azul-blocos);
  background-color: var(--azul-blocos);
  transition: 0.9s;
}
.bloco-output {
  height: 460px;
  width: 660px;
  padding: 20px;
  border-radius: 30px;
  font-size: 16px;
  background-color: var(--azul-blocos);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.9s;
}
body.light .mensagem-input,
body.light .bloco-output {
  border-color: #9e98ce;
  background-color: #9e98ce;
  color: #ffffff;
  transition: 0.9s;
}
#imagem-output {
  transition: all 0.7s;
}
#imagem-output:hover {
  transition: all 0.8s;
  transform: rotate(19deg) scale(0.9);
}
.bloco-botao {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 20px;
}
.botao,
.botao-enviar-sugestao {
  background-color: var(--azul-blocos);
  padding: 10px 20px;
  border-radius: 10px;
}
body.light .botao {
  background-color: #2a2661;
}
.botao:hover {
  transition: all 0.1s;
  transform: scale(1.1);
}
footer {
  background-color: var(--azul-footer);
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  margin-top: 5%;
  padding: 60px 50px;
  transition: 0.9s;
}
body.light footer {
  background-color: #2a2661;
  transition: 0.9s;
}
.bloco-link {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.link {
  padding: 6px;
}
.bloco-link,
.bloco-divulgar-projeto,
.bloco-versiculo,
.item-sugestao-titulo {
  padding-top: 20px;
}
.item-sugestao {
  margin-top: 5px;
}
.botao-enviar-sugestao {
  padding: 8px 10px;
}
.botao-enviar-sugestao.light {
  background-color: var(--cinza-blocos);
}
body.light .botao-enviar-sugestao {
  background-color: #8780bb;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #658de4;
}

/*tablet version*/
@media only screen and (max-width: 900px) {
  .header-titulo {
    padding-right: 30%;
  }
  .bloco-com-criptografia-descriptografia {
    flex-direction: column;
    gap: 10px 0px;
    align-items: center;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .bloco-versiculo {
    margin: 0 120px;
  }
  .item-sugestao-titulo {
    text-align: center;
  }
  .item-sugestao {
    display: block;
    margin-left: 10%;
  }

  .botao-enviar-sugestao {
    display: block;
    margin: 10px 30px;
    text-align: center;
    width: 50px;
  }
}

/*mobile version*/
@media only screen and (max-width: 600px) {
  .header-titulo {
    padding-right: 13%;
  }
  .bloco-com-criptografia-descriptografia {
    flex-direction: column;
    gap: 10px 0px;
    align-items: center;
  }
  .mensagem-input {
    height: 250px;
    width: 200px;
    padding: 32px;
  }
  .bloco-output {
    height: 450px;
    width: 200px;
    padding: 35px;
  }
  .bloco-botao {
    flex-direction: column;
    align-items: center;
  }
  .botao,
  .botao-enviar-sugestao {
    padding: 20px 30px;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .bloco-link,
  .bloco-divulgar-projeto,
  .bloco-versiculo,
  .item-sugestao-titulo {
    padding-top: 20px;
    margin: 0 20px;
  }
  .item-sugestao-titulo,
  .item-sugestao {
    margin: 5px 50px;
  }
  .botao-enviar-sugestao {
    display: block;
    margin: 20px auto;
    text-align: center;
    width: 50px;
  }
}
